/* .table-responsive {
    overflow-x: auto;
}

.display {
    white-space: nowrap; /* Prevents table cells from wrapping */
/* }
.table {
    min-width: 1500px; /* Adjust this value as needed */
/* } */ 