<div class="modal-header">
    <h4 class="modal-title" style="color: white;">Edit Program</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    <form [formGroup]="programForm" (ngSubmit)="save()">
     

        <div class="row">
            <div class="col-md-12 col-12">
                <div>
                    <label for="email">Email</label>
                    <input id="email" formControlName="email" type="text" class="form-control custom-input" />
                    <div *ngIf="programForm.get('email').invalid && programForm.get('email').touched"  class="error-message">
                        <small class="text-danger">Email is required.</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12">
                <div>
                    <label for="password">Password</label>
                    <input id="password" formControlName="password" type="password" class="form-control custom-input" />
                    <div *ngIf="programForm.get('password').invalid && programForm.get('password').touched"  class="error-message">
                        <small class="text-danger">Password is required.</small>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-12 col-12">
                <div>
                    <label for="confirmPassword">Confirm Password</label>
                    <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control custom-input" />
                    <div *ngIf="programForm.get('confirmPassword').invalid && programForm.get('confirmPassword').touched"  class="error-message">
                        <small class="text-danger">Password confirmation is required.</small>
                    </div>
                    <div *ngIf="programForm.hasError('mismatch')"  class="error-message">
                        <small class="text-danger">Passwords do not match.</small>
                    </div>
                
                </div>

            </div>
          
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="dismiss()">Cancel</button>
    <button type="button"  class="my-3 btn btn-primary" (click)="save()" [disabled]="programForm.invalid" 
      [ngClass]="{'valid-button': programForm.valid, 'disabled-button': programForm.invalid}">Save</button>
  </div>
  